@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');
body{
    background-image: url(fundo3.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 1920px;
    background-position: top center;
}
header .container .logo{
    background: url(LOGO2.png) no-repeat;
    background-size: 145px;
    width: 150px;
    height: 40px;
    

}
section{
 
    margin: 55px 0;
}


.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(114, 112, 112);
}

.navbar-dark .navbar-nav .contato:hover{
    color:white;
    
}
.divisor{
   width: 1px;
   background: white;
   margin: 12px 15px;
}


.capa{
 border: 0px solid red;
 margin: 0 auto;
 
}
.botao-carousel{
    padding-left: 480px;
    padding-bottom: 150px;
}

#home .carousel-item .botao-carousel .radius{
    border-radius: 50px;
    font-family: 'Fredoka One', cursive;
}
#home .carousel-item .botao-carousel .cor{
   background-color: #1bb828;
   color: white;
}
#home .carousel-item .botao-carousel .cor:hover{
    background-color: #127c1b;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
 }

.chamada{
    text-align: center;
}
h2{
    font-family: 'Lobster', cursive;
}

h1{
    font-weight: 900;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    margin-bottom: 50px;
    margin: 10px;
}
#conteudo .botao p{
    font-family: 'Varela Round', sans-serif;
    margin-top: 30px;
    margin-bottom: 100px;
}
p{
    font-family: 'Varela Round', sans-serif;
    margin: 10px;
}

#conteudo .botao span{
    font-size: 30px;
    font-weight: 900;
}
.bolas{
    display: block;
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
    margin: 10px;
    text-indent: -3000px;
    

}

#categorias .titulo-categorias1 a{
   
    background: url(cate_1.png) no-repeat;
    
    
}
#categorias .titulo-categorias2 a{
   
    background: url(cate_2.png) no-repeat;
    
    
}
#categorias .titulo-categorias3 a{
    
    background: url(cate_3.png) no-repeat;
    
    
}
#categorias .titulo-categorias4 a{
   
    background: url(cate_4.png) no-repeat;
    
    
}
#categorias .titulo-categorias5 a{
    
    background: url(cate_5.png) no-repeat;
    
    
}
#categorias .titulo-categorias6 a{
   
    background: url(cate_6.png) no-repeat;
    
    
}

#categorias .titulo-categorias1 a:hover{
    background: url(cate_1_1.png) no-repeat;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}
#categorias .titulo-categorias2 a:hover{
    background: url(cate_2_2.png) no-repeat;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    
}
#categorias .titulo-categorias3 a:hover{
    background: url(cate_3_3.png) no-repeat;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}
#categorias .titulo-categorias4 a:hover{
    background: url(cate_4_4.png) no-repeat;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}
#categorias .titulo-categorias5 a:hover{
    background: url(cate_5_5.png) no-repeat;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}
#categorias .titulo-categorias6 a:hover{
    background: url(cate_6_6.png) no-repeat;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}
#btn-whats {
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 9999;
  
}
#btn-whats {
    position: fixed;
    bottom: 18px;
    right: 18px;
    z-index: 9999;
   
 }
 #btn-whats img {
    width: 70px;
   
 }
 #btn-whats img:hover {
    width: 75px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
   
 }

#conteudo2{
    margin-top: 80px;
    padding: 50px;
    background-color: #212529;
    
    
    
}
#conteudo2 .box{
    padding: 20px;
    background-color: white;
    margin: 30px 0px;
    
}
#conteudo2 .box i{
  color: rgb(1, 41, 68);
    
}
#conteudo2 .box h2{
    color: rgb(1, 84, 151);
      
}
footer{
    background-color: #212529;
    padding: 20px;
}

footer .row i{
    color: white;
}
footer .row p{
    padding-bottom: 10px;
    margin: 0;
    color: white;
   
}

.centro{
    text-align: center;
   
}

.caixa-p-contato{
    background-color: #1bb828;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 25px;

}
.caixa-p-contato:hover{
    background-color: #127c1b;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    

}
.caixa-p-contato2{
    background-color: #0862e7;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 25px;

}
.caixa-p-contato3{
    background-color: #df2f10;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 25px;

}

.text-white{
    color: white;
}





@media (max-width: 576px) {
    body{
        background: url(fundo3.jpg) fixed repeat-y top center;
        -webkit-background: url(fundo3.jpg) fixed repeat-y top center;
        -moz-background: url(fundo3.jpg) fixed repeat-y top center;
        height: 100%;
        
    }
    h2{
        font-size: 30px ;
    } 
    h1{
        font-size: 40px ;
    } 
    .botao-carousel{
        padding-left: 480px;
        padding-bottom: 200px;
    }
   

 }


@media (min-width: 576px) and (max-width: 768px) { 
    h2{
        font-size: 25px ;
    }
    h1{
        font-size: 80px ;
    }  
    .botao-carousel{
        padding-left: 340px;
        padding-bottom: 50px;
    }
  
    
   
 }


@media (min-width: 768px) and (max-width: 992px) {
    .botao-carousel{
        padding-left: 480px;
        padding-bottom: 100px;
        
    }
   
    h2{
        font-size: 29px ;
    }

 }


@media (min-width: 992px) and (max-width: 1200px) { 
   

 }


@media (min-width: 1400px) { 

 }
